<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="style.css">
<script src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg nav-back fixed-top" 
    id="mainNav">
      <div class="container">
          <a class="navbar-brand" href="#"><img src="./images.png" width="80" height="40" alt=""></a>
         
           <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" 
           data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" 
           aria-label="Toggle navigation"><i class="fas fa-hospital-symbol"></i>
   
          </button>


          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" 
                  href="#services">Services</a></li>
                  <li class="nav-item"><a class="nav-link" 
                    href="#">Doctor</a></li>
                  <li class="nav-item"><a class="nav-link" 
                    href="#">Patient</a></li>
                  <li class="nav-item"><a class="nav-link"
                     href="#">Team</a></li>
                  <li class="nav-item"><a class="nav-link" 
                    href="#contact">Contact Us</a></li>
              </ul>
          </div>
      </div>
  </nav>
   

    <!-- ======= Contact Section ======= -->
    <br><br><br>
    <section class="contact">
        <div class="container">
    
          <div class="section-title text-center mt-5">
            <h2>Contact Us</h2>
          
          </div>
    
          <div class="row">
    
            <div class="col-lg-6">
    
              <div class="row">
                <div class="col-md-12">
                  <div class="contact-box">
                    <i class="fas fa-map-signs"></i>
                    <h3>Address</h3>
                    <p>Dwarka sec - 10 New delhi,110014 </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="contact-box mt-4">
                    <i class="fas fa-envelope"></i>
                    <h3>Email Us</h3>
                    <p>wecare@example.com<br>abc@example.com</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="contact-box mt-4">
                    <i class="fas fa-phone"></i>
                    <h3>Call Us</h3>
                    <p>+91 98 9670 4209 <br>+91 98 9670 4208</p>
                  </div>
                </div>
              </div>
    
            </div>
    
            <div class="col-lg-6">
              <form>
                <div class="form-row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" 
                    placeholder="Your Name">
                    
                  </div>
                  <div class="col-md-6 form-group">
                    <input type="email" class="form-control" name="email" 
                    id="email" placeholder="Your Email">
                    
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" 
                  id="subject" placeholder="Subject" >
                  </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5"></textarea>
                 </div>
                 <div class="text-center">
                   <button type="submit">Send Message</button></div>
              </form>
            </div>
    
          </div>
    
        </div>
      </section><!-- End Contact Section -->
      <!-- Footer-->
      <footer class="footer py-4 mt-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-left">Copyright ©️ By Group-G</div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <a class="btn btn-back btn-social mx-2" href="#!">
                      <i class="fab fa-twitter"></i></a>
                      <a class="btn btn-back btn-social mx-2" href="#!">
                        <i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-back btn-social mx-2" href="#!">
                          <i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="col-lg-4 text-lg-right">
                  <a class="mr-3 text" href="#!">Privacy Policy</a>
                  <a href="#!"class="text">Terms of Use</a></div>
            </div>
        </div>
    </footer>
    
    
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      </body>
    </html>