{% extends 'hospital/doctor_base.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    .container{
      padding-top: 20px;
      overflow-y: scroll;
      overflow-x: scroll;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border:solid rgba(188, 225, 243, 0.993) 1px ;
    }
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
    .navbar{
     
      padding: 1.5rem 1rem;
    }
  </style>
</head>

<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <h6 class="panel-title" style="font-weight: 700;">Your Total Patient List</h6>
    </div>
    <form method="POST">
      {% csrf_token %}
      <table>
        <tr>
          <td>Patient ID</td>
          <td><input type="number" class="form-control rounded" required name = "patId" placeholder="Patient ID" value=""></td>
          <td><input type="submit" name="submit" type="button" class="btn btn-info" value="Search"></td>
        </tr>
      </table>
    </form>
    <table class="table table-hover" id="dev-table" align="center">
      <thead>
        <tr>
          <th>Name</th>
          <th>Profile Picture</th>
          <th>Symptoms</th>
          <th>Contact</th>
          <th>Add Prescription</th>
          <th>Old Prescription</th>
          <th>View Summary</th>

        </tr>
      </thead>
      {% for p in patients %}
      <tr>
        <td> {{p.get_name}}</td>
        <td align="center"> <img src="{% static p.profile_pic.url %}" alt="Profile Pic" height="45px" width="45px" style="border-radius: 50%;border: 2px solid rgb(148, 199, 233);" /></td>
        <td>{{p.symptoms}}</td>
        <td>{{p.mobile}}</td>
        
        <td align="center"><a class="btn btn-info" href="{% url 'new-prescription' p.id  %}"><span class="glyphicon glyphicon-edit"></span></a></td>
        <td><a href="{% url 'old-prescription' p.id  %}" class="btn btn-info" role="button" aria-pressed="true">View</a></td>
        <td align="center"><a class="btn btn-info" href="{% url 'patient-summary' p.id  %}"><span class="glyphicon glyphicon-edit"></span></a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock content %}



