{% extends 'hospital/doctor_base.html' %}
{% load static %}
{% block content %}

{% load widget_tweaks %}

<head>
     <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        
        .table-class {
            margin-left: auto;
            margin-right: auto;
            padding-left: 50px;
            /* border: 1px solid #eee; */
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
            font-size: 1.25rem;
        /* font-weight: 500; */
           
            font-family: -apple-system, BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
            color: #555; 
            padding-bottom: 30px;


        }
        .table-info{
            background-color: white;
            padding-left: 30px;
            
        }
        h2{
            text-align: center; 
            color: #0D98BE;
            font-weight: bold;
            

        }
        .btn-white{
            text-transform: uppercase;
          background-color:#0D98BE;
          border-radius: 50px;
          font-size: medium;
          font-weight: bold;
          color:white;
         

      }
      .btn:link,.btn:visited{
          text-transform:uppercase;
          text-decoration:none;
          font-size: medium;
          font-family: 'Times New Roman', Times, serif;
          
          padding:10px;
          display:inline-block;
          border-radius: 200px;

          /*simple method of doing animation*/
          }
          .btn:hover{
          box-shadow: 0 20px 20px rgba(0, 0, 0,0.4);

          }
        .field {
            padding-right: 30px;
            
            
        }
        
        .field-top{
            padding-top: 30px;
        }
        .field-last{
            padding-bottom: 30px;
        }
        .last{
            padding-bottom: 30px;
            padding-left: 30px;
            /* padding-top: 5px; */
        }
        .first{
            padding-top: 30px;
            padding-left: 30px;
        }
        .container{
           
            overflow-y: scroll;
            
        }
       
    </style>
    
</head>
<div class="container" style="margin-top: -40 px;">
    <form method="POST">
        {% csrf_token %}
        <!-- On tables -->
                 
        <h2 >Add New Medicine</h2>
    
        <table class="table-class">
            <tr class="tr-info">
                <tr>
                    <td class="first">
                        Medication Item
                        <i class="fa fa-info-circle" title="Identification of the medication, vaccine or other therapeutic item being ordered.It is strongly recommended that the 'Medication item' be coded with a terminology capable of triggering decision support, where possible. The extent of coding may vary from the simple name of the medication item through to structured details about the actual medication pack to be used. Free text entry should only be used if there is no appropriate terminology available. 
                        "></i>
                    </td>
                    <td class="field-top">
                        <input type="text" name="medicationItem" required  value="">
                        
                    </td>
                <!-- </tr>
                <tr> -->
                    <td class="first">
                        Frequency
                        <i class="fa fa-info-circle" title="The frequency as number of times per time period (limited to a single day)
                        that the activity is to take place. 
                        Comment: e.g. 4 times per day or 3 to 4 times per hour"></i>
                    </td>
                    <td class="field-top">
                        <input type="number" name="frequency" required  value="">
                    </td>
                </tr>
                <tr>
                    <td class="table-info">
                        Dose
                        <i class="fa fa-info-circle" title="The value of the amount of medication as a real number. 
                        Comment: For example: 1, 1.5, 0.125 or 1-2, 12.5-20.5 "></i>
                    </td>
                    <td class="field">
                        <input type="number" name="dose" required  value="">
                    </td>
                <!-- </tr>
                <tr> -->
                    <td class="table-info"> 
                        Dose Unit
                    <i class="fa fa-info-circle" title="The dose unit of the amount of medication. 
                    Comment: For example: 'tablet','mg'. Coding of the dose unit with a
                     terminology is preferred, where possible. "></i>
                    </td>
                    <td class="field">
                        <input type="text" name="doseUnit" required  value="">
                    </td>
                </tr>
                <tr>
                    <td class="table-info">
                        Direction Duration
                        
                    <i class="fa fa-info-circle" title="The duration of this dose direction. 
                    Comment: For example: 'for 7 days','Indefinite'. "></i>
                    </td>
                    <td class="field">
                        <input type="text" name="directionDuration" required  value="">
                    </td>
                <!-- </tr>
                <tr> -->
                    <td class="table-info">
                        Form
                                            
                    <i class="fa fa-info-circle" title="The formulation or presentation of the medication. 
                    Comment: e.g. 'Tablet', 'Capsule', 'Liquid'.  "></i>
                    </td>
                    <td class="field">
                        <input type="text" name="form" required  value="">
                    </td>
                </tr>
                <tr>
                    <td class="table-info">
                        Additional Instructions
                       <i class="fa fa-info-circle" title=" An additional instruction on how to use the medication, vaccine or other therapeutic good. 
                    Comment: For example: precautions as 'take with food', 'Avoid grapefruit', 'Dissolve in water'. This data element allows multiple occurrences and should be coded with a reference terminology, where possible.  "></i>
                    </td>
                    <td class="field">
                        <input type="text" name="additionalInstruc" required value="">
                    </td>
                <!-- </tr>
                <tr> -->
                    <td class="table-info">
                        Substance
                       
                    <i class="fa fa-info-circle" title="  The name of the medication substance. This item should be coded if possible. 
                    Comment: Usage of substance name will vary according to context of use."></i>
                    </td>
                    </td>
                    <td class="field">
                        <input type="text" name="substance" required  value="">
                    </td>
                </tr>
                <tr class="last">
                    <td class="table-info">
                        <b>Medication safety </b> 
                    </td>
                </tr>
                <tr>
                    <td class="table-info">
                        <b>maxDosePerPeriod</b>
                    </td>
                </tr>
                <tr>
                    <td class="table-info">
                        Maximum Amount
                         
                    <i class="fa fa-info-circle" title="The maximum amount of medication allowed in the allowed period. 
                    Comment: For example: 1, 1.5, 0.125."></i>

                    </td>
                    <td class="field">
                    
                            <input type="text" required name="safetyAmount" placeholder="" value="">
                        
                    </td>
                <!-- </tr>
                <tr> -->
                    <td class="table-info">
                        Maximum amount dose unit 
                        <i class="fa fa-info-circle" title="The dose unit for the maximum amount allowed. 
Comment: For example: 'tablet','mg'. Coding of the dose unit with a terminology is preferred, where possible. ."></i>
                    </td>
                    <td class="field">
                        <input type="text" required name="safetyDoseUnit" value="">
                    </td>
                </tr>
                <tr>
                    <td class="table-info">
                        Allowed period
                        <i class="fa fa-info-circle" title="The period of time during which the maximum dose is calculated."></i>
                    </td>
                    <td class="field">
                        <input type="text" required name="safetyAllowedPer" value="">
                    </td>
                </tr>
            
                <tr>
                    <td class="table-info">
                        <b>Order details</b>
                    </td>
                </tr>
                <tr>
                    <td class="table-info"> 
                        <b>Course summary</b>
                    </td>
                </tr>
                <tr>
                    <td class="table-info">
                        Status
                        <i class="fa fa-info-circle" title=" The overall status of this order."></i>

                    </td>
                    <td>     
                        <select required name="orderStatus" >
                            <option value="Active">Active</option>
                            <option value="Stopped">Stopped</option>
                            <option value="Never active">Never active</option>
                            <option value="Completed">Completed</option>
                            <option value="Obsolete">Obsolete</option>
                            <option value="Suspended">Suspended</option>
                            <option value="Draft">Draft</option>
                        </select>
                    </td>
                <!-- </tr>
                <tr> -->
                    <td class="table-info">
                        Date discontinued
                    </td>
                    <td class="field"> 
                        <input type="datetime-local" required name="orderDateDisc" value="">
                    </td>
                </tr>
                <tr>
                    <td class="table-info">
                        Date written
                    </td>
                    <td class="field">
                        <input type="datetime-local" required name="orderDateWritten"  value="">
                    </td>
                </tr>
                <tr>
                    <td class="table-info">
                        <b>Authorisation details</b>
                    </td>
                <tr>
                    <td class="table-info">
                        numberOfRepeatsAllowed
                        <i class="fa fa-info-circle" title="The number of times the expressed quantity of medicine, vaccine or other therapeutic 
                        good may be refilled or redispensed without a new prescription."></i>

                    </td>
                    <td class="field">
                        <input type="number" required name="authRepeat"  value="">
                    </td>
                <!-- </tr>
                <tr> -->
                    <td class="table-info">
                        validityPeriod
                        <i class="fa fa-info-circle" title="The repeat supply authorisation has expired after this date."></i>
                    </td>
                    <td class="field">
                        <input type="datetime-local" required name="authValPer"  value="">
                    </td>
                </tr>
                <tr>
                    <td class="table-info">
                        <b>Dispense directions</b> 
                    </td>
                <tr>
                    <td class="table-info">
                        Dispense instruction
                        <i class="fa fa-info-circle" title="An additional instruction directed primarily at the person dispensing 
                        the medication, vaccine or therapeutic good."></i>

                    </td>
                    <td class="field">
                        <input type="text" required name="dispInstruc"  value="">
                    </td>
                </tr>
                <tr>
                    <td class="table-info">
                         <b>Dispense amount</b>  
                    </td>
                </tr>
                <tr>
                    <td class="table-info">
                        Amount description
                        <i class="fa fa-info-circle" title="A narrative representation of the amount The amount of medication, vaccine or therapeutic 
                        good intended to be supplied or actually supplied."></i>
                    </td>
                    <td class="field">
                        <input type="text" required name="dispDescrip"  value="">
                    </td>
                <!-- </tr>
                <tr> -->
                    <td class="table-info">
                        Amount
                        <i class="fa fa-info-circle" title="The amount of medication, vaccine or therapeutic good intended to be supplied or actually supplied. 
                        Comment: For example: 1, 1.5, or 0.125. "></i>

                    </td>
                    <td class="field">
                        <input type="number" required name="dispAmount" placeholder="" value="">
                    </td>
                </tr>
                <tr>
                    <td class="last">
                        Units
                        <i class="fa fa-info-circle" title="The dose unit or pack unit associated with the dispense amount. 
                        Comment: For example: 'tablets', 'packs', ml'."></i>
                    </td>
                    <td class="field-last">
                        <input type="text" required name="dispAmountUnits" placeholder="" value="">
                    </td>
                <!-- </tr>
                <tr> -->
                    <td class="last">
                        Duration of supply
                        <i class ="fa fa-info-circle" title="The period of time for which the medication should be dispensed or for which a suppy was dispensed. 
        Comment: The dispenser is asked to supply sufficient quantity of medication to cover the defined period. "></i>
                    </td>
                    <td class="field-last">
                        <input type="text" required name="dispDurution" placeholder="" value="">
                    </td>
                </tr>
            </tr>
        </table>
    <br>
        <center>
            <input type="submit" value="Add Medicine" name="submit" role ="button" class="btn btn-white"></button>
        </center>
    <br>
      
    
    </form>
    
</div>

<br><br><br><br>

{% endblock content %}
