{% extends 'hospital/doctor_base.html' %}
{% load static %}
{% block content %}

<h1 style="text-align: center;padding-top: 0.5em; color: brown;">Add New Prescription</h1>

<form method="POST">
    {% csrf_token %}

    <!-- On tables -->
    <table class="table-info">
        <tr class="table-info">
            <tr>
                <td class="table-info">
                    Medication Item
                </td>
                <td>
                    <input type="text" name="medicationItem" required placeholder="Medicine Name" value="">
                </td>
            </tr>
            <tr>
                <td class="table-info">
                    Frequency
                </td>
        
                <td>
                    <input type="number" name="frequency" required placeholder="Frequency" value="">
                </td>
            </tr>
            <tr>
                <td class="table-info">
                    Dose
                </td>
        
                <td>
                    <input type="number" name="dose" required placeholder="Dose" value="">
                </td>
            </tr>
            <tr>
                <td class="table-info"> 
                    Dose Unit
                </td>
        
                <td>
                    <input type="text" name="doseUnit" required placeholder="Dose Unit" value="">
                </td>
            </tr>
            <tr>
                <td class="table-info">
                    Direction Duration
                </td>
        
                <td>
                    <input type="text" name="directionDuration" required placeholder="Direction Duration" value="">
                </td>
            </tr>
            <tr>
                <td class="table-info">
                    Form
                </td>
        
                <td>
                    <input type="text" name="form" required placeholder="Form" value="">
                </td>
            </tr>
            <tr>
                <td class="table-info">
                    Additional Instructions
                </td>
                <td>
                    <input type="text" name="additionalInstruc" required placeholder="Additional Instructions" value="">
                </td>
            </tr>
            <tr>
                <td class="table-info">
                    Substance
                </td>
        
                <td>
                    <input type="text" name="substance" required placeholder="Substance" value="">
                </td>
            </tr>
        </tr>
    </table>

    <center>
        <input type="submit" value="Add" name="submit" class="btn btn-lg btn-warning"></button>
        <!-- <input type="submit" name="submit" value="Add" style="background-color: #c13434;border-radius: 3px solid #c13434; height: 40px; width: 80px; border-radius: 10px;"> -->
    </center>


    <style>
        .table-info {
        margin-left: auto;
        margin-right: auto;
        }
        .btn-lg {
            margin-top: 10px;
            padding: 0.5rem 5rem;
        }
    </style>

</form>


{% endblock content %}