{% extends 'hospital/patient_base.html' %}

  {% load static %}
  {% block content %} 
    {% for m in pDD %}
      <div>
        <table>
          <br>
          <br>
          <tr class="heading">
            <td>
              Date
            </td>
            <td>
              Medication Item
            </td>
            <td>
              Frequency
            </td>
            <td>
              Dose
            </td>
            <td>
              Dose unit
            </td>
            <td>
              Direction Duration
            </td>
            <td>
              Form
            </td>
            <td>
              Additional Instructions
            </td>
            <td>
              Substance
            </td>
          </tr>
          <tr class="details">
            <td>
              {{m.date}}
            </td>
            <td>
              {{m.medicationItem}}
            </td>
            <td>
              {{m.frequency}}
            </td>
            <td>
              {{m.dose}}
            </td>
            <td>
              {{m.doseUnit}}
            </td>
            <td>
              {{m.directionDuration}}
            </td>
            <td>
              {{m.form}}
            </td>
            <td>
              {{m.additionalInstruc}}
            </td>
            <td>
              {{m.substance}}
            </td>
          </tr>

          {% endfor %}

        </table>
      </div>


  {% endblock content %}
