{% extends 'hospital/doctor_base.html' %}
{% load static %}
{% block content %}
<style>
  .details:hover {background-color: #ffff33;}
  th, td {
    padding: 5px;
  }
  .heading {
    background-color: #29a329;
    color: white;
  }
</style> 

{% for date in date_list %}
  <h4>Prescription Date: {{date}}</h4>
    <div>
      <table border="2" align="center">
        <br><br>
        <tr class="heading" align="center">
          <th rowspan="1" colspan="8">Medication Order</th>
        
        </tr>
      
        <tr align="center">
         
          <th>Medication Item</th>
          <th>Frequency</th>
          <th>Dose</th>
          <th>Dose unit</th>
          <th>Direction Duration</th>
          <th>Form</th>
          <th>Additional Instructions</th>
          <th>Substance</th>
    
        </tr>      
        {% for m in pDD %}
          {% if m.date == date %}
        <tr class="details" align="center">
          
          <td>{{m.medicationItem}}</td>
          <td>{{m.frequency}}</td>
          <td>{{m.dose}}</td>
          <td>{{m.doseUnit}}</td>
          <td>{{m.directionDuration}}</td>
          <td>{{m.form}}</td>
          <td>{{m.additionalInstruc}}</td>
          <td>{{m.substance}}</td>
          
        </tr>
        {% endif %}
        {% endfor %}
  
  </table>

</div>
<br><br><br>
{% endfor %}
<br><br><br><br><br>
{% endblock content %}
